img {
	width: 100%;
	max-width: 40vw;
	height: inherit;
	max-height: 40vh;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	font-size: 1.5em;
}

mat-card {
	height: 100%;
}
mat-tab-group {
	height: inherit;
}
